<a href="https://colab.research.google.com/github/Sai-Vamsi-Ogety/SafeApp/blob/master/safe_route.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [0]:
crime_df = pd.read_csv("crime-data_crime-data_crimestat.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
crime_df.head()

,INC NUMBER,OCCURRED ON,OCCURRED TO,UCR CRIME CATEGORY,100 BLOCK ADDR,ZIP,PREMISE TYPE
0,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
1,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
2,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
3,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT
4,201700001722914,11/01/2015 00:00,NaN,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE

In [0]:
col = crime_df.columns.tolist()
for i in range(len(col)):
  temp = col[i]
  temp = temp.lower()
  temp = temp.replace(" ", "_")
  col[i] = temp
  
print(col)

['inc_number', 'occurred_on', 'occurred_to', 'ucr_crime_category', '100_block_addr', 'zip', 'premise_type']

In [0]:
crime_df.columns = col

In [0]:
crime_df['occurred_on'] = pd.to_datetime(crime_df['occurred_on'])
crime_df['occurred_to'] = pd.to_datetime(crime_df['occurred_to'])

In [0]:
crime_df.head()

,inc_number,occurred_on,occurred_to,ucr_crime_category,100_block_addr,zip,premise_type
0,201500002101405,2015-11-01,2015-11-01 05:00:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
1,201500002102668,2015-11-01,2015-11-01 11:50:00,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
2,201600000052855,2015-11-01,2016-01-09 00:00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
3,201500002168686,2015-11-01,2015-11-11 09:30:00,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT
4,201700001722914,2015-11-01,NaT,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE

In [0]:
!pip install geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.49)

In [0]:
#address = crime_df.loc[3,'100_block_addr'] +","+ crime_df.loc[3,'zip'].astype(int).astype(str) +"," + 'Pheonix' + ","+ "Arizona" +","+ "U.S"
address = '10200 W wood st,85043'
geolocator = Nominatim(user_agent="explorer")
location = geolocator.geocode(address)
print(location)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of 102XX W MEDLOCK AVE,85307.0 {}, {}.'.format(latitude, longitude))

West Wood Street, Santa Maria, Estrella, Phoenix, Maricopa County, Arizona, 85043, USA
The geograpical coordinate of 102XX W MEDLOCK AVE,85307.0 33.4096802, -112.1896586.

In [0]:
address = 'W wood st,85043'
geolocator = Nominatim(user_agent="explorer")
location = geolocator.geocode(address)
print(location)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of 102XX W MEDLOCK AVE,85307.0 {}, {}.'.format(latitude, longitude))

West Wood Street, Sunset Farms, Phoenix, Maricopa County, Arizona, 85353, USA
The geograpical coordinate of 102XX W MEDLOCK AVE,85307.0 33.4078724, -112.2748659.

We need to replace "xx" with some digits to get the accurate location.

In [0]:
def replaceXXwithOO(input, pattern = "XX", replaceWith = "00"): 
    return input.replace(pattern, replaceWith)

In [0]:
crime_df['100_block_addr'] = crime_df['100_block_addr'].apply(replaceXXwithOO)

In [0]:
crime_df['100_block_addr'].head()

0         10200 W MEDLOCK AVE
1              6900 W WOOD ST
2    N 43RD AVE & W CACTUS RD
3         1400 E HIGHLAND AVE
4             27900 N 23RD LN
Name: 100_block_addr, dtype: object

yayy! replaced "xx" with "00". Now we extract Latitude and Longitudes of these addresses.

---

In [0]:
crime_df["Year"]= crime_df["occurred_on"].dt.year

In [0]:
crime_df.head()

,inc_number,occurred_on,occurred_to,ucr_crime_category,100_block_addr,zip,premise_type,Year
0,201500002101405,2015-11-01,2015-11-01 05:00:00,MOTOR VEHICLE THEFT,10200 W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE,2015.0
1,201500002102668,2015-11-01,2015-11-01 11:50:00,MOTOR VEHICLE THEFT,6900 W WOOD ST,85043.0,SINGLE FAMILY HOUSE,2015.0
2,201600000052855,2015-11-01,2016-01-09 00:00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE,2015.0
3,201500002168686,2015-11-01,2015-11-11 09:30:00,LARCENY-THEFT,1400 E HIGHLAND AVE,85014.0,PARKING LOT,2015.0
4,201700001722914,2015-11-01,NaT,LARCENY-THEFT,27900 N 23RD LN,85085.0,SINGLE FAMILY HOUSE,2015.0

In [0]:
crime_df["Month"] = crime_df["occurred_on"].dt.month

In [0]:
crime_df["Month"].head()

0    11.0
1    11.0
2    11.0
3    11.0
4    11.0
Name: Month, dtype: float64

In [0]:
year = ["2019"]
crime2019 = crime_df[crime_df.Year.isin(year)]

In [0]:
crime2019.head()

,inc_number,occurred_on,occurred_to,ucr_crime_category,100_block_addr,zip,premise_type,Year,Month
204486,201900000855221,2019-01-01,NaT,LARCENY-THEFT,18800 N 34TH LN,85027.0,UNKNOWN,2019.0,1.0
204487,201900000024064,2019-01-01,2019-01-05 08:45:00,BURGLARY,9400 N 38TH AVE,85051.0,SINGLE FAMILY HOUSE,2019.0,1.0
204488,201900000928388,2019-01-01,NaT,RAPE,6800 W DEVONSHIRE AVE,85033.0,SINGLE FAMILY HOUSE,2019.0,1.0
204489,201900000748401,2019-01-01,2019-04-29 10:00:00,RAPE,1500 W COLTER ST,85015.0,GROUP HOME,2019.0,1.0
204490,201900000824801,2019-01-01,2019-03-06 00:00:00,RAPE,1800 E VAN BUREN ST,85006.0,HOSPITAL,2019.0,1.0

In [0]:
crime2019.shape[0]

47327

In [0]:
crime2019.zip = crime2019.zip.astype(str)
crime2019["Address"] = crime2019["100_block_addr"] +","+crime2019["zip"].str[:-2]
crime2019["Address"].head()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

204486          18800 N 34TH LN,85027
204487          9400 N 38TH AVE,85051
204488    6800 W DEVONSHIRE AVE,85033
204489         1500 W COLTER ST,85015
204490      1800 E VAN BUREN ST,85006
Name: Address, dtype: object

In [0]:
crime2019_fivek = crime2019.head(5000)

In [0]:
crime2019_fivek.head()

,inc_number,occurred_on,occurred_to,ucr_crime_category,100_block_addr,zip,premise_type,Year,Month,Address
204486,201900000855221,2019-01-01,NaT,LARCENY-THEFT,18800 N 34TH LN,85027.0,UNKNOWN,2019.0,1.0,"18800 N 34TH LN,85027"
204487,201900000024064,2019-01-01,2019-01-05 08:45:00,BURGLARY,9400 N 38TH AVE,85051.0,SINGLE FAMILY HOUSE,2019.0,1.0,"9400 N 38TH AVE,85051"
204488,201900000928388,2019-01-01,NaT,RAPE,6800 W DEVONSHIRE AVE,85033.0,SINGLE FAMILY HOUSE,2019.0,1.0,"6800 W DEVONSHIRE AVE,85033"
204489,201900000748401,2019-01-01,2019-04-29 10:00:00,RAPE,1500 W COLTER ST,85015.0,GROUP HOME,2019.0,1.0,"1500 W COLTER ST,85015"
204490,201900000824801,2019-01-01,2019-03-06 00:00:00,RAPE,1800 E VAN BUREN ST,85006.0,HOSPITAL,2019.0,1.0,"1800 E VAN BUREN ST,85006"

In [0]:
crime2019_fivek.to_csv("crime2019_fivek.csv")

In [0]:
geolocator = Nominatim(user_agent = "explorer")
  
from geopy.exc import GeocoderTimedOut

def do_geocode(addr):
    try:
      
      location = geolocator.geocode(addr)
        
    except GeocoderTimedOut:
      
      return do_geocode(addr)
    finally:
      if location:
        Lat = location.latitude
        Long = location.longitude
        return Lat,Long
      else:
        return "None","None"
      
crime2019_fivek["Lat_Long"] = crime2019_fivek["Address"].apply(do_geocode)

UnboundLocalError: ignored

In [0]:
crime2019["Lat_Long"].head()

KeyError: ignored

In [0]:
crime2019_jan_100.to_csv("pheonix_crime_jan_2019_top_100.csv")

In [0]:
toph = pd.read_csv("pheonix_crime_jan_2019_top_100.csv")

In [0]:
toph.tail()

,Unnamed: 0,inc_number,occurred_on,occurred_to,ucr_crime_category,100_block_addr,zip,premise_type,Year,Month,zip_int,Address,Lat_Long
95,204581,201900000003232,2019-01-01 10:15:00,2019-01-01 14:00:00,LARCENY-THEFT,5400 W INDIAN SCHOOL RD,85031,PARKING LOT,2019.0,1.0,85031.0,"5400 W INDIAN SCHOOL RD,85031","(33.4949424, -112.1645923)"
96,204582,201900000002282,2019-01-01 10:55:00,2019-01-01 11:00:00,AGGRAVATED ASSAULT,7300 S 37TH GLN,85041,STREET / ROADWAY / ALLEY / SIDEWALK,2019.0,1.0,85041.0,"7300 S 37TH GLN,85041","('None', 'None')"
97,204583,201900000002265,2019-01-01 10:59:00,2019-01-01 10:59:00,LARCENY-THEFT,4300 N 50TH DR,85031,DRIVEWAY,2019.0,1.0,85031.0,"4300 N 50TH DR,85031","(33.498696, -112.168032)"
98,204584,201900000053396,2019-01-01 11:00:00,2019-01-02 10:30:00,LARCENY-THEFT,4900 E LARKSPUR DR,n,GROUP HOME,2019.0,1.0,NaN,"4900 E LARKSPUR DR,n","(33.601118, -111.975543)"
99,204585,201900000002313,2019-01-01 11:00:00,2019-01-01 11:09:00,AGGRAVATED ASSAULT,2800 W SELDON LN,n,VEHICLE,2019.0,1.0,NaN,"2800 W SELDON LN,n","(33.561174, -112.118886)"

In [0]:
toph_clean = toph[toph["Lat_Long"] != '("None","None")']

In [0]:
toph_clean.to_csv("pheonix2019_top100.csv")